@import "tailwindcss";
@import "tw-animate-css";

.text-gradient {
  background: linear-gradient(to bottom, oklch(26.9% 0 0) 0%, #3B82F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2 {
  background: linear-gradient(to bottom, #ffffff 0%, #3B82F6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(200px, auto));
  gap: 1.5rem;
}